.categoryBox {
    height: 140px;
    // display: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
    overflow-x: hidden;


    .entire {
        height: 60px;
        display: flex;
        margin: 0 110px;
        padding: 20px 0 15px 0;

    }

    .categoryList {
        display: flex;
        margin: 0 110px;
        padding-bottom: 20px;
        font-size: 11px;
        height: 60px;


        .boxIndustry {
            display: flex;
            padding: 0 4px;





        }

    }
}