.navBar {
  width: 100%;
  background-color: lightpink;


  .bar {

    height: 50px;
    display: flex;
    margin: 0 110px 0 110px;
    justify-content: space-between;
    align-items: center;
    display: fixed;

    .companyName {
      font-size: 17px;
      font-weight: 900;
      display: flex;
      align-items: center;

    }

    .topic {
      list-style-type: none;
      display: flex;
      font-size: 14px;

      .content {
        padding: 14px 14px;

      }
    }

    .options {
      list-style-type: none;
      text-align: center;
      display: flex;
      justify-content: space-around;
      font-size: 14px;

      .search {
        cursor: pointer;
      }

      .content {
        padding: 0 10px;
        font-size: 14px;
      }
    }
  }
}